@page "/posts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp1.Models
@using BlazorWebApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorWebApp.Data.BlazorWebAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="posts/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Posts">
    <PropertyColumn Property="post => post.Title" />
    <PropertyColumn Property="post => post.Content" />
    <PropertyColumn Property="post => post.CreatedAt" />
    <PropertyColumn Property="post => post.UpdatedAt" />
    <PropertyColumn Property="post => post.Upvotes" />
    <PropertyColumn Property="post => post.Downvotes" />
    <PropertyColumn Property="post => post.IsEdited" />
    <PropertyColumn Property="post => post.Tags" />
    <PropertyColumn Property="post => post.AuthorId" />

    <TemplateColumn Context="post">
        <a href="@($"posts/edit?id={post.Id}")">Edit</a> |
        <a href="@($"posts/details?id={post.Id}")">Details</a> |
        <a href="@($"posts/delete?id={post.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorWebAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
