@page "/"
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<AuthorizeView>
  <Authorized>
  @if (context.User.Identity.IsAuthenticated)
  {
    <h2>Hey @context.User.Identity.Name!</h2>
  }
  </Authorized>
  <NotAuthorized>
    <p>oh</p>
  </NotAuthorized>
</AuthorizeView>
<Counter IncrementAmount="10"/>