@page "/comments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp1.Models
@using BlazorWebApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorWebApp.Data.BlazorWebAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="comments/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Comment">
    <PropertyColumn Property="comment => comment.Content" />
    <PropertyColumn Property="comment => comment.CreatedAt" />
    <PropertyColumn Property="comment => comment.UpdatedAt" />
    <PropertyColumn Property="comment => comment.Upvotes" />
    <PropertyColumn Property="comment => comment.Downvotes" />
    <PropertyColumn Property="comment => comment.IsEdited" />
    <PropertyColumn Property="comment => comment.AuthorId" />
    <PropertyColumn Property="comment => comment.PostId" />

    <TemplateColumn Context="comment">
        <a href="@($"comments/edit?id={comment.Id}")">Edit</a> |
        <a href="@($"comments/details?id={comment.Id}")">Details</a> |
        <a href="@($"comments/delete?id={comment.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorWebAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
