@page "/posts/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorApp1.Models
@inject IDbContextFactory<BlazorWebApp.Data.BlazorWebAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Post</h2>
<hr />
@if (Post is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            
            <EditForm method="post" Model="Post" OnValidSubmit="UpdatePost" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Post.Id" value="@Post.Id" />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="Post.Title" class="form-control" />
                    <ValidationMessage For="() => Post.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content:</label>
                    <InputText id="content" @bind-Value="Post.Content" class="form-control" />
                    <ValidationMessage For="() => Post.Content" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdat" class="form-label">CreatedAt:</label>
                    <InputDate id="createdat" @bind-Value="Post.CreatedAt" class="form-control" />
                    <ValidationMessage For="() => Post.CreatedAt" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedat" class="form-label">UpdatedAt:</label>
                    <InputDate id="updatedat" @bind-Value="Post.UpdatedAt" class="form-control" />
                    <ValidationMessage For="() => Post.UpdatedAt" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="upvotes" class="form-label">Upvotes:</label>
                    <InputNumber id="upvotes" @bind-Value="Post.Upvotes" class="form-control" />
                    <ValidationMessage For="() => Post.Upvotes" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="downvotes" class="form-label">Downvotes:</label>
                    <InputNumber id="downvotes" @bind-Value="Post.Downvotes" class="form-control" />
                    <ValidationMessage For="() => Post.Downvotes" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="isedited" class="form-label">IsEdited:</label>
                    <InputCheckbox id="isedited" @bind-Value="Post.IsEdited" class="form-check-input" />
                    <ValidationMessage For="() => Post.IsEdited" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/posts">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Post? Post { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Post ??= await context.Posts.FirstOrDefaultAsync(m => m.Id == Id);

        if (Post is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePost()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Post!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PostExists(Post!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/posts");
    }

    private bool PostExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Posts.Any(e => e.Id == id);
    }
}
