@page "/userprofiles"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp1.Models
@using BlazorWebApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorWebApp.Data.BlazorWebAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>
<QuickGrid Class="table" Items="context.UserProfiles">
    <PropertyColumn Property="userProfile => userProfile.UserProfileId" />
    <PropertyColumn Property="userProfile => userProfile.Sub" />
    <PropertyColumn Property="userProfile => userProfile.FavoriteColor" />
</QuickGrid>

@code {
    private BlazorWebAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
