@page "/movies"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp1.Models
@using BlazorWebApp.Data
@using BlazorApp1.Services;
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorWebApp.Data.BlazorWebAppContext> DbFactory
@inject MovieApiService MovieApiService

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<ul>
    @foreach (var movie in movies)
    {
        <li>@movie.Title, @movie.ReleaseDate, @movie.Genre, @movie.Price</li>
    }
</ul>

@code {
    private List<Movie> movies = new();
    protected override async Task OnInitializedAsync()
    {
        List<Movie>? movieList = await MovieApiService.GetMoviesAsync();
        if (movieList is not null) {
            movies = movieList;
        }
    }
    public async ValueTask DisposeAsync() => await ValueTask.CompletedTask;
}
