@page "/communications"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.QuickGrid;
@using CommLifecycle.Web.Services;
@using SharedModels.DTOs;
@implements IAsyncDisposable
@inject MovieApiService MovieApiService
@namespace CommLifecycle.Web.Components

<PageTitle>Communications</PageTitle>

<h1>Communications</h1>

<p>
    <a href="communications/create">Create New</a>
</p>

@if (communications is not null)
{
    <QuickGrid TGridItem="CommunicationDto" Items="@communications" Class="table table-striped">
        <TemplateColumn Title="Name" Context="communication">
            <a href=@($"/communications/communication/{communication.Id}")>@communication.Title</a>
        </TemplateColumn>
        <PropertyColumn Title="Type" Property="communication => communication.Type.Name" />
        <PropertyColumn Title="Status" Property="communication => communication.StatusHistory.ElementAt(0).Status.Description" />
    </QuickGrid>
} else {
    <Spinner />
}

@code {
    private IQueryable<CommunicationDto>? communications;
    protected override async Task OnInitializedAsync()
    {
        List<CommunicationDto>? communicationList = await MovieApiService.GetCommunicationsAsync();
        if (communicationList is not null) {
            communications = communicationList.AsQueryable();
        }
    }
    public async ValueTask DisposeAsync() => await ValueTask.CompletedTask;
}