@page "/forum/posts/p/{postId:int}"
@using BlazorApp1.Services
@using BlazorApp1.Models

@inject IForumPostService ForumPostService

<PageTitle>Post</PageTitle>

<h1>Post</h1>

<div id="container">
  @if (_post is null) {
    <Spinner />
  }
  @if (_post is not null)
  {
    <p>Title: @_post.Title</p>
    <p>Content: @_post.Content</p>
    <p>Tags: @_tagString</p>
  }
</div>

@code {
  private Post? _post;
  private string _tagString;

  [Parameter]
  public int postId { get; set; }
  protected override async Task OnInitializedAsync()
    {
      _post = await ForumPostService.GetOneAsync(postId);
      _tagString = "";
      _post.PostTags.ToList().ForEach(pt => {
        _tagString += pt.Tag.Name + ", ";
      });
    }

    public async ValueTask DisposeAsync() => await ValueTask.CompletedTask;
}